@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffeb3b; /* Warna latar belakang kuning cerah */
  --foreground: #2196f3; /* Warna teks biru cerah */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffc107; /* Warna latar belakang kuning lebih gelap untuk mode gelap */
    --foreground: #0d47a1; /* Warna teks biru lebih gelap untuk kontras di mode gelap */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
